<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="Alt-Svc" />
                <add name="Alt-Svc" value="clear" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
